#setup {
    text-align: center;
}

#ship-options {
    width: 50%;
    margin-top: 20px;
    display: flex;
    gap: 2em;
    justify-content: center;
    position: relative;
    transform: translate(50%, 0%);
    left: 0%;
    flex-wrap: wrap;
}

#rotate-ship { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    padding: 0 5px;

    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#rotate-text { 
    padding-right: 5px;
}

#rotate-icon { 
    width: 30%;
}

.rotate-vertical { 
    transform: rotate(90deg);
}